<div class="container">
  <app-header id="header"></app-header>
  <div id="body">
    <mat-card>
      <mat-card-header>
        Корзина
      </mat-card-header>
      <mat-card-content>
        <div class="items">
          <div class="item">
            <div class="col-1"><mat-icon>close</mat-icon></div>
            <div class="col-2">
              <img src="https://just-eat.by/image/cache/data/shops/25310/41546-105x80.jpg" alt="" width="103" height="79">
            </div>
            <div class="col-3">
              <span class="title">Буррито</span>
              <span class="description">Лаваш, фирменный соус, куриное мясо, мексиканская смесь (томленный болгарский перец, кукуруза, фасоль), сыр, капуста, свежий томат, свежий огурец, лук.</span>
              <span class="weight">500 г</span>
            </div>
          </div>
          <div class="item">
            <div class="col-1"><mat-icon>close</mat-icon></div>
            <div class="col-2">
              <img src="https://just-eat.by/image/cache/data/shops/25310/41546-105x80.jpg" alt="" width="103" height="79">
            </div>
            <div class="col-3">
              <span class="title">Буррито</span>
              <span class="description">Лаваш, фирменный соус, куриное мясо, мексиканская смесь (томленный болгарский перец, кукуруза, фасоль), сыр, капуста, свежий томат, свежий огурец, лук.</span>
              <span class="weight">500 г</span>
            </div>
          </div>
          <div class="item">
            <div class="col-1"><mat-icon>close</mat-icon></div>
            <div class="col-2">
              <img src="https://just-eat.by/image/cache/data/shops/25310/41546-105x80.jpg" alt="" width="103" height="79">
            </div>
            <div class="col-3">
              <span class="title">Буррито</span>
              <span class="description">Лаваш, фирменный соус, куриное мясо, мексиканская смесь (томленный болгарский перец, кукуруза, фасоль), сыр, капуста, свежий томат, свежий огурец, лук.</span>
              <span class="weight">500 г</span>
            </div>
          </div>
        </div>
        <div class="total">Итого: 10р</div>
      </mat-card-content>
      <mat-card-actions>
        <a>Оформить</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>